{% extends "base.html" %}
{% block content %}
<h1>Muokkaa reseptiä {{attributes.name}}</h1>

{% if message is not empty %}
<div class="alert alert-success">
    <p>{{text}}</p>
</div>
{% endif %}

{% if errors %}
<div class="alert alert-danger">
    <ul>
        {% for error in errors %}
        <li>{{error}}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}


<form method='post' action='{{base_path}}/drink/{{attributes.id}}/edit'>
    <div class="form-group">
        <label>Nimi</label>
        <input type="text" class="form-control" name='name' value="{{attributes.name}}">
    </div>
    <div class="form-group">
        <label>Tyyppi</label>
        <input type="text" class="form-control" name='drink_type' value="{{attributes.drink_type}}">
    </div>
    <div class="form-group">
        <label>Lasi</label>
        <input type="text" class="form-control" name='glass' value="{{attributes.glass}}">
    </div>
    
    <div class="form-group">
        <label>Ainesosat (tulee myöhemmin)</label>
        <input type="text" class="form-control" value="4.5cl Giniä">
        <input type="text" class="form-control" value="3cl sitruunamehua">
        <input type="text" class="form-control" value="1.5cl siirappia">
        <input type="text" class="form-control" value="6cl soodavettä">
    </div>
     <div class="form-group">
        <button type="submit" class="btn btn-primary">Lisää ainesosa</button>
    </div>
    
    <div class="form-group">
        <label>Kuvaus</label>
        <input type="text" class="form-control" name='description' value="{{attributes.description}}">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Tallenna</button>
    </div>
</form>
{% endblock %}