{% extends "base.html" %}
{% block content %}
<h1>Muokkaa reseptiä {{attributes.name}}</h1>

<form method='post' action='{{base_path}}/drink/{{attributes.id}}/edit'>
    <div class="form-group">
        <label>Nimi</label>
        <input type="text" class="form-control" value="{{attributes.name}}">
    </div>
    <div class="form-group">
        <label>Tyyppi</label>
        <input type="text" class="form-control" value="{{attributes.drink_type}}">
    </div>
    <div class="form-group">
        <label>Lasi</label>
        <input type="text" class="form-control" value="{{attributes.glass}}">
    </div>
    
    <div class="form-group">
        <label>Ainesosat (tulee myöhemmin)</label>
        <input type="text" class="form-control" value="4.5cl Giniä">
        <input type="text" class="form-control" value="3cl sitruunamehua">
        <input type="text" class="form-control" value="1.5cl siirappia">
        <input type="text" class="form-control" value="6cl soodavettä">
    </div>
     <div class="form-group">
        <button type="submit" class="btn btn-primary">Lisää ainesosa</button>
    </div>
    
    <div class="form-group">
        <label>Kuvaus</label>
        <textarea class="form-control">{{drink.description}}
        </textarea>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Tallenna</button>
    </div>
</form>
{% endblock %}