{% extends "base.html" %}
{% block content %}

<h1>Tom Collins</h1>

<div class="alert alert-success">
	{{message}}
	</div>

<p>
	<button class="btn btn-danger">Poista</button> <a href ="#" class="btn btn-default">Muokkaa</a>
</p>

<p>
	Tähän tulee drinkin kuvaus/ohje
</p>
<ul>
	<li><strong>Drinkkityyppi:</strong>Cocktail</li>
	<li><strong>Lasityyppi:</strong>Collins-lasi</li>
</ul>

<h3>Tähän tulee drinkin ainesosat</h3>
<ul>
	<li>Gin 4.5cl</li>
	<li>Sitruunamehua 3cl</li>
	<li>Siirappia 1.5cl</li>
	<li>Soodavettä 6cl</li>
</ul>
<!--Ehkä vielä tulee kuitenkin vaihdeltua-->
{% endblock %}