{% extends "base.html" %}
{% block content %}

<h1>{{drink.name}}</h1>

{% if message is not empty %}
<div class="alert alert-success">
    <p>{{message}}</p>
</div>
{% endif %}

<p>
	<form method="post" action="{{base_path}}/drink/{{drink.id}}/destroy" style="display: inline-block;">
		<button type="submit" class="btn btn-danger">Poista</button>
	</form> 

	<a href ="{{base_path}}/drink/{{drink.id}}/edit" class="btn btn-default">Muokkaa</a>
</p>

<p>
	{{drink.description}}
</p>
<ul>
	<li><strong>Drinkkityyppi:</strong> {{drink.drink_type}}</li>
	<li><strong>Lasityyppi:</strong> {{drink.glass}}</li>
</ul>

<h2>Ainesosat:</h2>
<div>
	<ul>
	{% for ingredient in recipe %}
	<li><a href={{base_path}}/ingredient/{{ingredient.name}}>{{ingredient.name}}</a></li>	
	{% endfor %}
	</ul>
</div>

{% if rating %}
<h3>Kaikkien käyttäjien arvosteluiden keskiarvo</h3>
<p><b>{{rating}}</b></p> 

<form method='post' action='{{base_path}}/drink/{{drink.id}}/rank'>
    <div class="form-group">
        <label>Anna arvostelu!</label>
        <select class="form-control" name="rating">
        	<option value=0>0</option>
        	<option value=1>1</option>
        	<option value=2>2</option>
        	<option value=3>3</option>
        	<option value=4>4</option>
        	<option value=5>5</option> 
        </select>
    </div>
<div class="form-group">
        <button type="submit" class="btn btn-success">Lähetä arvostelu!</button>
    </div>
{% else %}
<form method='post' action='{{base_path}}/drink/{{drink.id}}/rank'>
    <div class="form-group">
        <label>Anna arvostelu!</label>
        <select class="form-control" name="rating">
        	<option value=0>0</option>
        	<option value=1>1</option>
        	<option value=2>2</option>
        	<option value=3>3</option>
        	<option value=4>4</option>
        	<option value=5>5</option> 
        </select>
    </div>
<div class="form-group">
        <button type="submit" class="btn btn-success">Ole ensimmäinen arvostelija!</button>
    </div>
{% endif %}
{% endblock %}