{% extends "base.html" %}
{% block content %}
<h1>Muokkaa reseptiä {{attributes.name}}</h1>

{% if message is not empty %}
<div class="alert alert-success">
    <p>{{text}}</p>
</div>
{% endif %}

{% if errors %}
<div class="alert alert-danger">
    <ul>
        {% for error in errors %}
        <li>{{error}}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}


<form method='post' action='{{base_path}}/drink/{{attributes.id}}/edit'>
    <div class="form-group">
        <label>Nimi</label>
        <input type="text" class="form-control" name='name' value="{{attributes.name}}">
    </div>
    <div class="form-group">
      <label>Lasityyppi</label>
      <select class="form-control" name="glass">
      {% for glass in glasstypes %}
        <option value="{{glass}}">{{glass}}</option>
      {% endfor %}
    </select>
    </div>

    <div class="form-group">
      <label>Drinkkityyppi</label>
      <select class="form-control" name="drink_type">
      {% for drinktype in drinktypes %}
        <option value="{{drinktype}}">{{drinktype}}</option>
      {% endfor %}
    </select>
    </div>
    
    <div class="form-group">
    <label>Ainesosat</label>
        <select class="form-control" name="ingredients[]" multiple="">
        {% for ingredient in ingredients %}
            <option value="{{ingredient.name}}">{{ingredient.name}}</option>
        {% endfor %}
        </select>
    </div>
    
    <div class="form-group">
        <label>Kuvaus</label>
        <textarea name="description" class="form-control">{{attributes.description}}</textarea>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Tallenna</button>
    </div>
</form>
{% endblock %}