{% extends "base.html" %}
{% block content %}

<h1>{{drink.name}}</h1>

{% if message is not empty %}
<div class="alert alert-success">
    <p>{{message}}</p>
</div>
{% endif %}

<p>
	<form method="post"  action="{{base_path}}/drink/{{drink.id}}/destroy"style="display: inline-block;">
		<button type="submit" class="btn btn-danger">Poista</button> 

	<a href ="{{base_path}}/drink/{{drink.id}}/edit" class="btn btn-default">Muokkaa</a>
</p>

<p>
	{{drink.description}}
</p>
<ul>
	<li><strong>Drinkkityyppi:</strong> {{drink.drink_type}}</li>
	<li><strong>Lasityyppi:</strong> {{drink.glass}}</li>
</ul>

<h3>Ainesosat:</h3>
<div>
	<ul>
	{% for ingredient in recipe %}
	<li>{{ingredient.name}}</li>	
	{% endfor %}
	</ul>
</div>
{% endblock %}